<div class="login-container">
  <!-- Lado Izquierdo -->
  <div class="login-left">
    <div class="overlay">
      <h2>Posible imagen de la empresa</h2>
    </div>
  </div>

  <!-- Lado Derecho -->
  <div class="login-right">
    <div class="login-box">
      <h2>Inicio de sesión</h2>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group">
          <label for="email">Usuario</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Introduzca su usuario"
          />
          @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <div

            class="error"
          >
            Correo obligatorio y válido.
          </div>
        }
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="password-wrapper">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              formControlName="password"
              placeholder="Introduzca su contraseña"
            />
            <button
              type="button"
              class="toggle-password"
              (click)="togglePassword()"
              aria-label="Mostrar u ocultar contraseña"
            >
              <i
                class="material-icons"
                [class.active]="showPassword"
                >{{ showPassword ? 'visibility_off' : 'visibility' }}</i>
            </button>
          </div>
          <div
            *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            class="error"
          >
            Contraseña obligatoria.
          </div>
        </div>

        <button type="submit" [disabled]="loading || loginForm.invalid">
          {{ loading ? 'Iniciando sesión...' : 'Log in' }}
        </button>


        @if (message) {
  <div
    class="message"
    [ngClass]="{
      success: message.includes('correcta'),
      error: message.includes('incorrectos')
    }"
  >
    {{ message }}
  </div>
}

      </form>
    </div>
  </div>
</div>

