<div class="sidebar">
  <div class="user-section">
    <div class="user-icon">
      <i class="fa fa-user-circle"></i>
    </div>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/calendario" routerLinkActive="active"><i class="fa fa-calendar-alt"></i> <span>Calendario</span></a></li>
      <li><a routerLink="/citas" routerLinkActive="active"><i class="fa fa-calendar"></i> <span>Citas</span></a></li>
      <li><a routerLink="/Login" routerLinkActive="active"><i class="fa fa-sign-in-alt"></i> <span>Login</span></a></li>
    </ul>
  </nav>
</div>
