/* Para el login (si quieres que no aparezca navbar y ocupe todo) */
:host-context(app-login) .app-layout {
  flex-direction: column;
}

:host-context(app-login) main {
  width: 100%;
  padding: 0;
  margin-left: 0;
}


.app-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--background-color);
}
/* Barra lateral */
app-navbar {
  width: 0;
  flex-shrink: 0;
  background-color: var(--sidebar-bg, #2c2c2c);
}
/* Contenedor principal */
main {
  flex: 1;
  padding: 1rem;
  background-color: var(--main-bg, #f9f9f9);
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-navbar + main {
  margin-left: 90px;
}

app-navbar:hover + main {
  margin-left: 220px;
}

@media (max-width: 768px) {
  app-navbar {
    width: 100%;
  }

  app-navbar + main {
    padding-bottom: 60px;
  }

  app-navbar:hover + main {
    margin-left: 0;
  }
}

/* Para el login (si quieres que no aparezca navbar y ocupe todo) */
:host-context(app-login) .app-layout {
  flex-direction: column;
}

