<div class="dashboard-container">
    <div class="search-section">
        <app-search-bar (search)="onSearch($event)"></app-search-bar>
    </div>

    <div class="buttons-grid">
        
        @for (card of cards; track card.title) {
            @if (showCard(card)) {
                
                <button class="dashboard-button" [routerLink]="card.routerLink">
                    <i class="material-icons">{{ card.icon }}</i> 
                    <span>{{ card.title }}</span>
                </button>
            }
        }
        
        @if (userName) {
            <button class="dashboard-button profile-btn" (click)="onLogout()">
                <i class="fa fa-user"></i>
                <span>Cerrar Sesión</span>
            </button>
        } @else {
            <button class="dashboard-button login-btn" routerLink="/Login">
                <i class="fa fa-sign-in-alt"></i>
                <span>Login</span>
            </button>
        }
    </div>
</div>