

<div class="container">

  <div class="form-group mb-4">
    <aside>
      <input class="form-control" type="text" placeholder="Search">
      <app-citas-add></app-citas-add>

    </aside>
  </div>

  <table class="table">
    <colgroup>
      <col width="5%">
      <col width="*">
      <col width="35%">
      <col width="15%">
    </colgroup>

    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Paciente</th>
        <th scope="col">Razon Cita</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora de inicio</th>
        <th scope="col">Hora de finalización</th>
        <th scope="col">Estado</th>


      </tr>
    </thead>
    <tbody>

  @for (c of citasSrv.citaState().citas; track c.id_paciente) {
      <tr>
    <th scope="row">{{c.id_cita}}</th>
    <td> {{ c.id_paciente }} </td>
    <td> {{ c.razon_cita }} </td>
    <td> {{ c.fecha }} </td>
    <td> {{ c.hora_inicio }} </td>
    <td> {{ c.hora_final }} </td>
    <td> {{ c.estado }} </td>
      <!-- <a [routerLink]="['/citas', c.id]"> -->
      <!-- </a> -->
</tr>

  }
    </tbody>
  </table>

  <ng-template #noResults>
    <p>No results found for .</p>
  </ng-template>
</div>
