<div>
  <form action="">
    <label for="paciente">Paciente: </label>
    <input type="text" name="paciente" [value]="pacienteId()" (input)="pacienteId.set($any($event.target).value)" placeholder="Nombre del paciente" >

    <label for="fecha">Fecha de la cita: </label>
    <input type="date" name="fecha" [value]="date()" (input)="date.set($any($event.target).value)">

    <label for="hora-inicio">Desde: </label>
    <input type="time" name="hora-inicio" [value]="startTime()" (input)="startTime.set($any($event.target).value)">

    <label for="hora-fin">Hasta: </label>
    <input type="time" name="hora-fin" [value]="endTime()" (input)="endTime.set($any($event.target).value)">

    <label for="profesional">Profesional: </label>
    <input type="text" name="profesional" placeholder="ID del profesional" [value]="profesionalId()" (input)="profesionalId.set($any($event.target).value)">

    <label for="notas">Notas: </label>
    <input type="text" name="notas" [value]="notes()" (input)="notes.set($any($event.target).value)" placeholder="Añade información sobre la cita.">

    <button (click)="addCita()">Crear cita</button>
  </form>
</div>
