    <div class="calendario-panel__section">
      <button class="calendario-panel__action" (click)="togleFormAdd()">Añadir cita</button>
      @if (mostrarFormularioAdd) {
<div>
  <form action="">
    <div>

      <label for="paciente">Paciente: </label>
      <input type="text" name="paciente" [value]="id_paciente()" (input)="id_paciente.set($any($event.target).value)" placeholder="Nombre del paciente" >

    </div> <br>
    <div>

      <label for="fecha">Fecha de la cita: </label>
      <input type="date" name="fecha" [value]="fecha()" (input)="fecha.set($any($event.target).value)">

    </div> <br>

    <div>

      <label for="hora-inicio">Desde: </label>
      <input type="time" name="hora-inicio" [value]="hora_inicio()" (input)="hora_inicio.set($any($event.target).value)">

    </div> <br>

    <div>

      <label for="hora-fin">Hasta: </label>
      <input type="time" name="hora-fin" [value]="hora_final()" (input)="hora_final.set($any($event.target).value)">

    </div> <br>
    <div>

      <label for="profesional">Profesional: </label>
      <input type="text" name="profesional" placeholder="ID del profesional" [value]="id_trabajador()" (input)="id_trabajador.set($any($event.target).value)">

    </div> <br>
    <div>

      <label for="notas">Notas: </label>
      <input type="text" name="notas" [value]="razon_cita()" (input)="razon_cita.set($any($event.target).value)" placeholder="Añade información sobre la cita.">

    </div> <br>

     <div>

      <label for="estado">Estado: </label>
      <input type="text" name="estado" placeholder="Estado de la cita" [value]="estado()" (input)="estado.set($any($event.target).value)">

    </div> <br>

    <button type="button" (click)="addCita()">Crear cita</button>
  </form>
</div>


      }
    </div>

